/Todo/obj
/Todo/bin
/Todo/.vs
/Todo.API/obj
/Todo.API/bin
/Todo.API/Properties
/Todo/Properties
/Todo.Shared/bin
/Todo.Shared/obj
/Todo.Base/obj
/Todo.Base/bin
/Todo.Entity/obj
/Todo.Entity/bin
/Todo.IService/obj
/Todo.IService/bin
/Todo.Models/obj
/Todo.Models/bin
/Todo.Service/obj
/Todo.Service/bin
